.aside .logo a::before {
    border-top: 4px solid #0702ff;
    border-left: 4px solid #fffb00;
}

.aside .logo a:after {
    border-bottom: 4px solid #fffb00;
    border-right: 4px solid #0702ff;
}

.about .about-content .about-text h3,
li a:hover,
li a.active {
    color: #302cff;
}

.active {
    color: #ffffff;
}

.portfolio .portfolio-filter button.active {
    border-color: #ffffff;
}

.icones {
    background-color: #ffffff;
}

.about {
    background-image: linear-gradient(#000000, #232223, #454245, #000000);
}

.portfolio {
    background-image: linear-gradient(#000000, #454245, #232223, #000000);
}

.contact {
    background-image: linear-gradient(#000000, #454245, #232223, #000000);
}